<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
  <meta charset="UTF-8">
  <title>air quality index</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
 <div class="login">
	<h1><strong>Air Quality Index</strong></h1>

     <!-- Main Input For Receiving Query to our ML -->

    <form action="{{ url_for('predict')}}"method="post">
    <p style="text-align: left"><small> <b>PM2.5</b> (Usually ranges from 0.1 to 120)</small></p>
    <input type="number" step="any" placeholder="Enter Value" name = "PM2.5" required="required">
     <p style="text-align: left"><small> <b>NO2</b> (Usually ranges from 0.01 to 60)</small></p>
    <input type="number"  step="any" placeholder="Enter Value" name="NO2" required="required">
     <p style="text-align: left"><small> <b>CO</b>  (Usually ranges from 0 to 3) </small></p>
    <input type="number"  step="any"  placeholder="Enter Value" name="CO" required="required">
     <p style="text-align: left"><small> <b>SO2</b> (Usually ranges from 0.01 to 25)</small></p>
    <input type="number"  step="any"   placeholder="Enter Value" name="SO2" required="required">
     <p style="text-align: left"><small> <b>O3</b>  (Usually ranges from 0.01 to 65)</small></p>
    <input type="number"  step="any" placeholder="Enter Value" name="O3" required="required">

    <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

    </form>


 </div>


</body>
</html>